.todocontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.todocontainer h1
{
    margin: 0rem;
    margin-bottom: 1rem;
}

.todoinput
{
    padding: 0.25rem;
    border: 0.1px solid grey;
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.todocontainer button
{
    margin-bottom: 1rem;
}

